/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/

body {
    padding-top: 65px;
    background-color: lightsteelblue;
    font-size: 2em;
}

h1, .center, .pic {
    text-align: center;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.well {
    padding: 15px 0px;
    margin-top: 15px;
}
.well {
    background-color: #eee;
}

/* Pictures */

.pic img {
    display: block;
    margin: 10%;
    width: 80%;
}
.pic img:hover {
    margin: 0;
    width: 100%;
}

img {
    border-radius: 25px;
    border: thin solid black;
    transition: .5s ease;
}

.viewPic {
    margin-bottom: 10px;
}

/* Cart */

.cart {
    padding: 10px;
}

.no-line:hover {
    text-decoration: none
}

/* Forms */

form {
    padding: 20px 0;
}
form div {
    padding-bottom: 15px;
}

/* Fix Bootstrap */

.navbar-brand {
    float: left;
    width: 230px;
    height: 70px;
    font-size: 1.3em;
    line-height: 70px;
}