/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/

body {
    padding-top: 60px;
    background-color: lightsteelblue;
    font-size: 2em;
}

h1, .center, .pic {
    text-align: center;
}

.well {
    padding: 15px 0px;
    margin-top: 15px;
}

.well, table tr:hover {
    background-color: #eee;
}

.pic img {
    display: block;
    margin: 10%;
    width: 80%;
    transition: .5s ease;
}
.pic img:hover {
    margin: 0;
    margin-bottom: 4%;
    width: 100%;
    transition: .5s ease;
}
img {
    border-radius: 25px;
    border: thin solid black;
}

.btn {
    text-decoration: none;
}

.cart {
    padding: 10px;
}

tr:hover {
    background-color: white;
}

.right {
    text-align: right;
}